li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.pfp {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}